.searchBar{
    width: 200px;
    box-sizing: border-box;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 8px 0px 0px 8px;
    font-size: 16px;
    background-color: white;
    background-image: url('search.png'); 
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 10px 20px 10px 40px;
    transition: width 0.4s ease-in-out;
}

.searchBar:focus{
    width: 25%;
}

.searchButton{
    width: 100px;
    background-position: 10px 10px;
    font-size: 16px;
    border-radius: 0px 8px 8px 0px;
    border: 1px solid rgb(212, 212, 212);
    background-repeat: no-repeat;
    padding: 10px 20px 10px 20px;
}
.searchButton:hover {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.068), 0 3px 3px 0 rgba(0, 0, 0, 0.075);
  }