.container{
    text-align: left;
    background-color: rgb(255, 255, 255);
    /* height: 100em ; */
}

.searchContainer{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

}

.searchList{
    background-color: rgb(245, 245, 245);
    align-content: flex-start;
    margin-left: 10%;
    margin-right: 10%;

}

.searchListContainer{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    text-align: left;
}

.thumbnail{
    font-family:  'raleway';
    /* padding: 20px; */
}

.videoContainer{
    grid-template-columns: auto auto;
}

.videoPlayerContainer{
    display: flex;
    justify-content: center;
    grid-template-columns: auto auto;  
}

.mostPopularVideos{
    display: table-cell;
    grid-template-columns: auto auto;
    padding: 30px;
    text-align: left;
}

.homePageVideos{
    background-color: rgb(245, 245, 245);
    grid-template-columns: auto auto auto auto auto;
    display: inline-grid ;
    /* margin-left: 5%; */
    /* margin-right: 2%; */

}
.container.h2{
    text-align: left;
    padding-left: 5%;
}

.suggestionVideo{
    display: flexbox
}